.bg-video {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  // when something go outside of the container add this
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;

    // set image to fit the size
    object-fit: cover;
  }
}