/* universal selector */
/* remove styles added by the browser */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* borders and padding no longer added by browser */
  box-sizing: inherit;
}

html {
  // this define what 1 rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  // define larger one before small one
  @include respond(tab-land) { // < 1200
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
 
  @include respond(tab-port) { // < 900
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
 
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
 
}